# Auto detect text files and perform LF normalization
* text=auto

# Shell scripts
*.sh text eol=lf

# Java source files
*.java text eol=lf diff=java
*.kt text eol=lf
*.xml text eol=lf

# YAML files
*.yml text eol=lf
*.yaml text eol=lf

# Markdown files
*.md text eol=lf

# Properties files
*.properties text eol=lf

# JSON files
*.json text eol=lf

# Binary files
*.jar binary
*.class binary
*.asc binary

# Documentation
*.pdf binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary

